---
import FirstView from "@/components/FirstView.astro";
import Heading02 from "@/components/Heading02.astro";
import LinkList from "@/components/LinkList.astro";
import Section from "@/components/Section.astro";
import Width from "@/components/Width.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<FirstView />

	<Width>
		<Section type="h2">
			<Heading02 class="">Link</Heading02>
			<LinkList
				linkList={[
					{
						text: "GitHub",
						href: "https://github.com/daizabro",
					},
					{ text: "X", href: "#" },
					{ text: "Instagram", href: "#" },
					{ text: "しずかなインターネット", href: "#" },
					{ text: "Zenn", href: "#" },
					{ text: "YouTube", href: "#" },
					{
						text: "note",
						href: "https://note.com/dai_zabzab",
					},
				]}
			/>
		</Section>

		<Section type="h2">
			<Heading02>Skill Set</Heading02>
			<p>
				<small>※ あくまで個人的な判断での指標となります。</small>
			</p>

			<Section type="h3">
				<h3>Base Skill</h3>
				<ul>
					<li>
						<p>HTML</p>
						<div
							class="radial-progress text-primary"
							style="--value:90;"
							aria-valuenow="90"
							role="progressbar"
						>
							90%
						</div>
					</li>
					<li>
						<p>CSS</p>
						<div
							class="radial-progress text-primary"
							style="--value:80;"
							aria-valuenow="80"
							role="progressbar"
						>
							80%
						</div>
					</li>
					<li>
						<p>JavaScript（TypeScript）</p>
						<div
							class="radial-progress text-primary"
							style="--value:70;"
							aria-valuenow="70"
							role="progressbar"
						>
							70%
						</div>
					</li>
				</ul>
			</Section>

			<Section type="h3">
				<h3>Frame Work</h3>
				<ul>
					<li>Astro</li>
					<li>React</li>
					<li>Vue.js</li>
					<li>Svelte</li>
				</ul>
			</Section>

			<Section type="h3">
				<h3>Template Engin</h3>
				<ul>
					<li>Astro</li>
					<li>11ty</li>
				</ul>
			</Section>
		</Section>
	</Width>
</Layout>
