---
import FirstView from "@/components/FirstView.astro";
import Heading02 from "@/components/Heading02.astro";
import Heading03 from "@/components/Heading03.astro";
import LinkList from "@/components/LinkList.astro";
import Section from "@/components/Section.astro";
import SkillSet from "@/components/SkillSet.astro";
import Width from "@/components/Width.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<FirstView />

	<Width>
		<Section type="h2">
			<Heading02 class="">Link</Heading02>
			<LinkList
				linkList={[
					{
						text: "GitHub",
						href: "https://github.com/daizabro",
					},
					{ text: "Zenn", href: "https://zenn.dev/dai_zabzab" },
					{
						text: "note",
						href: "/note/",
						isExternal: false,
					},
					{
						text: "しずかなインターネット",
						href: "https://sizu.me/dai_zabzab",
					},
					{ text: "X", href: "https://x.com/DaiZabzab" },
					{ text: "Instagram", href: "https://instagram.com/DaiZabzab" },
					{
						text: "YouTube",
						href: "https://www.youtube.com/channel/UCdx_djvdH4bf7slg4QQtdyA",
					},
				]}
			/>
		</Section>

		<Section type="h2">
			<Heading02>Skill Set</Heading02>
			<p>主観的な評価で、熟練度を%で表現しています。</p>

			<Section type="h3">
				<Heading03>Base Skill</Heading03>
				<SkillSet
					skillList={[
						{
							title: "HTML",
							description:
								"アクセシビリティを意識したマークアップをすることができます。",
							proficiency: 90,
						},
						{
							title: "CSS",
							description:
								"ピクセルパーフェクトを意識しつつ、実際の表現に即したコーディングをすることが可能です。",
							proficiency: 80,
						},
						{
							title: "JavaScript（TypeScript）",
							description:
								"基本的なDOM操作やAPI通信、非同期処理に対応することができます。",
							proficiency: 70,
						},
					]}
				/>
			</Section>

			<Section type="h3">
				<Heading03>Frame Work</Heading03>
				<SkillSet
					skillList={[
						{
							title: "Astro",
							description: "Astroの熟練度",
							proficiency: 90,
						},
						{
							title: "React",
							description: "Reactの熟練度",
							proficiency: 80,
						},
						{
							title: "Vue",
							description: "Vueの熟練度",
							proficiency: 70,
						},
						{
							title: "Svelte",
							description: "Svelteの熟練度",
							proficiency: 70,
						},
					]}
				/>
			</Section>
		</Section>
	</Width>
</Layout>
