---
import Width from "@/components/Width.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div>
		<h1>Street Code</h1>
	</div>

	<Width>
		<section class="prose">
			<h2>リンク</h2>
			<ul>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">X</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">しずかなインターネット</a></li>
				<li><a href="#">Zenn</a></li>
				<li><a href="#">YouTube</a></li>
				<li><a href="#">Note</a></li>
			</ul>
		</section>

		<section>
			<h2>スキルセット</h2>
			<p>あくまで個人的な判断での指標となります。</p>

			<section class="prose">
				<h3>ベーススキル</h3>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript（TypeScript）</li>
				</ul>
			</section>

			<section class="prose">
				<h3>フレームワーク</h3>
				<ul>
					<li>Astro</li>
					<li>React</li>
					<li>Vue.js</li>
					<li>Svelte</li>
				</ul>
			</section>

			<section class="prose">
				<h3>テンプレートエンジン</h3>
				<ul>
					<li>Astro</li>
					<li>11ty</li>
				</ul>
			</section>
		</section>
	</Width>
</Layout>
