---
import Width from "@/components/Width.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
	<div>
		<h1>Street Code</h1>
	</div>
	<Width>
		<section class="prose">
			<h2>リンク</h2>
			<ul>
				<li><a href="#">GitHub</a></li>
				<li><a href="#">X</a></li>
				<li><a href="#">Instagram</a></li>
				<li><a href="#">しずかなインターネット</a></li>
				<li><a href="#">Zenn</a></li>
				<li><a href="#">YouTube</a></li>
				<li><a href="#">Note</a></li>
			</ul>
		</section>
	</Width>
</Layout>
