---
export type Props = {
	class?: string;
	type: "h2" | "h3" | "h4";
};

const { class: className, type } = Astro.props;
---

<section
	class:list={[
		className,
		type === "h2" && "not-first:mt-16 not-last:mb-16",
		type === "h3" && "not-first:mt-12 not-last:mb-12",
		type === "h4" && "not-first:mt-8 not-last:mb-8",
	]}
>
	<slot />
</section>
