---
export type Props = {
	skillList: { description: string; title: string; proficiency: number }[];
};

const { skillList } = Astro.props;
---

<ul class="grid grid-cols-3 gap-4">
	{
		skillList.map(({ description, title, proficiency }) => (
			<li>
				<div class="card bg-base-100 image-full shadow-xs rounded-sm border-1 h-full">
					<figure>
						<img
							class="!brightness-20 !h-full"
							src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
							alt=""
						/>
					</figure>
					<div class="card-body">
						<h4 class="card-title">{title}</h4>
						<p>{description}</p>
						<div
							class="radial-progress text-primary mx-auto"
							style={`--value:${proficiency};`}
						>
							{proficiency}%
						</div>
					</div>
				</div>
			</li>
		))
	}
</ul>
