@import "tailwindcss";
@plugin "daisyui" {
	themes: halloween;
}

:root {
	--icon-open-in-new: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19 19H5V5h7V3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zM14 3v2h3.59l-9.83 9.83 1.41 1.41L19 6.41V10h2V3z"></path></svg>');
}

html {
	@media (prefers-reduced-motion: no-preference) {
		scroll-behavior: smooth;
	}
}

body {
	overflow-x: hidden;
	font-family: YakuHanJP, "Inter", "Zen Kaku Gothic New", sans-serif;
}

img,
video {
	display: block;
	max-width: 100%;
	height: auto;
}

img {
	/* Chromeに対してのみ image-rendering: -webkit-optimize-contrast; を適用したい */
	@media screen and (-webkit-min-device-pixel-ratio: 0) {
		image-rendering: -webkit-optimize-contrast;
		/* NOTE: Chromeに対してのみ適用されると言われている (min-resolution: 0.001dpcm) は Safari 16以降 適用されるようになっているため注意 */
		_::-webkit-full-page-media,
		_:future,
		:root & {
			/* Safariでデフォルト値に戻す */
			image-rendering: auto;
		}
	}
}
