---
import "@/assets/styles/base.css";
import "node_modules/kiso.css";
import "node_modules/yakuhanjp";
---

<!doctype html>
<html lang="ja" data-theme="halloween">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
	<footer class="px-8 mt-8">
		<div class="text-center text-sm opacity-70">
			<p>&copy; 2025 Daizaburo Fujimoto. All rights reserved.</p>
		</div>
	</footer>
</html>
