---
import "@/assets/styles/base.css";
import "node_modules/kiso.css";
import "node_modules/yakuhanjp";
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Astro Basics</title>
	</head>
	<body>
		<slot />
	</body>
</html>
